*,
*::before,
*::after {
  box-sizing: border-box;
}

header{
    background-image:url(./images/fondAccueil.jpg) ;
    background-size: cover;
    background-position: left;
    /* width:100vw; */
    height:100vh;
    min-height:100vh;
    overflow: hidden;
    position: relative;
    display:flex;
    flex-direction: column; 
}


.headerText{
    padding: 0px 20px 0px 20px;
}

.descrExpo{
    font-size:1rem;
    width: fit-content;
    color:white;
    padding:20px 0px 20px 0px;
    border-bottom:white 1px solid;
    margin:0;
}

.title{
    font-family: "Tan-Pearl", sans-serif;
    font-weight: 300;
    font-size:3rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 5px;
    margin-bottom:0;
    margin-top:25px;
}

.accFlex{
    display: flex;
    flex-direction: column;
    height:100%;
}

/*Je mets en place le slider de la poage d'accuei*/

.slider-visible{ /* carré visible*/
    flex-grow: 1; 
    width:auto;
    /* overflow: hidden; */
    position:relative;
    flex-shrink: 0;
}

.slider-total{
    height:100%;
    display: flex;
    position: relative;
    left: -100%;
    /*et on va bouger son left en JS pour le déplacer*/
    
}

.slide { /*slides */
     /*On met la même valeur pour la hauteur du js-slider*/
    width:100%;
    height: auto;
    position: relative;
    flex-shrink: 0;
}

.photoSlider{
    position:absolute;
    top:0px;
    right:0px;
    height:100%;
}

.arrow{
    width:70px;
    height:70px;
    position:absolute;
    bottom:50px;
    padding: 20px;
    border-radius: 50%;
    border: solid 1px white;
    cursor: pointer;
}

.arrow.left{
    left:20px;
}

.arrow.right{
    right:20px;
    transform: rotate(180deg);
}

/*Je mets le CSS de l'animation du header*/

.firefly {
    width: 5px;
    height: 5px;
    position: absolute;
    background-color: #f2fda3;
    box-shadow: 0px 0px 10px 1px rgba(253,219,163,.6);
    border-radius: 50%;
    filter: blur(1px);
  }
  
  /* .container {
    margin: 0 auto;
    height: 90vh;
    position: relative;
  } */


/*Je mets en place la section 1 de ma page d'accueil*/


.section1{
    min-height: 100vh;
    background-color: azure;
}


@media(min-width:750px){
    .title{
        font-size:5rem;
    }

    /* header{
        display:block;
    } */

    .headerText{
        padding: 25px 55px 0px 55px;
    }

    .slide, .slider-total{
        height:55vh;
    }

    .slider-visible{
        position:absolute;
        bottom:0;
        width:100%;
    }

    .arrow{
        width:100px;
        height:100px;
        border:solid white 2px;
    }

    .arrow.left{
        left:55px;
    }
    
    .arrow.right{
        right:55px;
    }

    .descrExpo{
        font-size: 1.6rem;
    }

    
}

@media(min-width:1100px){
    .title{
        font-size:7rem;
    }


    .slide, .slider-total{
        height:65vh;
    }

    
}