*,
*::before,
*::after {
    box-sizing: border-box;
}

/*Je mets en place les polices de tout le site*/

@font-face {
    font-family: "Tan-Pearl";
    src: url(./fonts/TAN-PEARL.woff2) format(woff2);
}

@font-face {
    font-family: "Cinzel";
    src: url(./fonts/Cinzel-Regular.woff2) format(woff2);
}

@font-face {
    font-family: "PromptRegular";
    src: url(./fonts/Prompt-Regular.woff2) format(woff2);
}

@font-face {
    font-family: "PromptBold";
    src: url(./fonts/Prompt-SemiBold.woff2) format(woff2);
}

@font-face {
    font-family: "Louis-Regular";
    src: url(./fonts/Louis\ George\ Cafe.woff2) format(woff2);
}

@font-face {
    font-family: "Louis-Bold";
    src: url(./fonts/Louis\ George\ Cafe\ Bold.woff2) format(woff2);
}

body {
    margin: 0;
    font-family: "promptRegular", sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
}

header {
    height: 100vh;
    min-height: 100vh;
    position: relative;
    /* display:flex;
    flex-direction: column;  */
}

header {
    overflow: hidden;

}


/*Je mets le CSS de l'animation du header*/

.firefly {
    width: 5px;
    height: 5px;
    position: absolute;
    background-color: #cabb9e;
    box-shadow: 0px 0px 10px 1px rgba(253, 242, 163, 0.6);
    border-radius: 50%;
    filter: blur(1px);
}

/* .container {
    margin: 0 auto;
    height: 90vh;
    position: relative;
  } */