*,
*::before,
*::after {
    box-sizing: border-box;
}

/*Je mets en place les polices de tout le site*/

@font-face {
    font-family: "Tan-Pearl";
    src: url(./fonts/TAN-PEARL.woff2) format(woff2);
}

@font-face {
    font-family: "Cinzel";
    src: url(./fonts/Cinzel-Regular.woff2) format(woff2);
}

@font-face {
    font-family: "PromptRegular";
    src: url(./fonts/Prompt-Regular.woff2) format(woff2);
}

@font-face {
    font-family: "PromptBold";
    src: url(./fonts/Prompt-SemiBold.woff2) format(woff2);
}

@font-face {
    font-family: "Louis-Regular";
    src: url(./fonts/Louis\ George\ Cafe.woff2) format(woff2);
}

@font-face {
    font-family: "Louis-Bold";
    src: url(./fonts/Louis\ George\ Cafe\ Bold.woff2) format(woff2);
}

@font-face {
    font-family: "Parisienne";
    src: url(./fonts/Parisienne-Regular.woff2) format(woff2);
}


/*Je définis les variables de couleur qui vont être utilisées dans le site*/

:root {
    --blanc: #FBF9F1; 
    --bleu: #2F6C68;
    --marron: #614838;
    --gris: #434343;
    --beige: #DBD7C5;
}

body {
    margin: 0;
    font-family: "promptRegular", sans-serif;
    font-size: 1rem;
    overflow-x: hidden !important;
}

header {
    min-height: 100vh;
    position: relative;
}

header {
    overflow: hidden;

}


/*Je mets le CSS de l'animation du header*/

.firefly {
    width: 5px;
    height: 5px;
    position: absolute;
    background-color: #cabb9e;
    box-shadow: 0px 0px 10px 1px rgba(253, 242, 163, 0.6);
    border-radius: 50%;
    filter: blur(1px);
}

/* .container {
    margin: 0 auto;
    height: 90vh;
    position: relative;
  } */

  /* boutons langues francais anglais */


/* bouton de langues */
.dropdown {
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 1000;
}



.dropdown:hover .dropdown-content {
    top: -35px;
    bottom: auto;
}
.dropbtn {
    background-color: rgb(116 116 116);
    color: white;
    padding: 12px 40px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;

}

.lang-icon {
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
}

.fl-icon {
    transform: translateY(50%);
    width: 15px;
    position: absolute;
    right: 16px;
    top: 30%;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(116 116 116);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    z-index: 1;
    top: -35px;
    left: -14px
}

/* affich contenu du dropdon */
.dropdown-content.show {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(134, 134, 134);
    border-radius: 20px;

}
