
footer{
    color:var(--blanc);
    background-color: var(--bleu);
    padding:60px 40px 60px 40px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:60px;
}

.logoContainer{
    display:flex;
    gap:20px;
    align-items: center;
}

.logoFooter{
    width:120px;
}

.titleExpo{
    font-family:"Parisienne", sans-serif;
    font-size:1.2rem;
    margin:0px 0px 10px 0px;
    
}
.adressechamps{
    font-size:0.8rem;

}

.agence{
    font-size:0.8rem;
    margin:0;
}

.pagesAndReseaux{
    display:flex;
    flex-direction: column;
    gap:30px;

}

.pages{
    display:flex;
    flex-direction: column;
    gap:10px;
}

.bold{
    font-family: "PromptBold", sans-serif;
    margin-top:0;
}

.footerLink{
    color:var(--blanc);
    text-decoration:none;
    padding:0;
}

.linksReseau{
    display:flex;
    gap:20px;
}

.linkReseau{
    padding:0;
}

.reseaux{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.reseau{
    width:40px;
    
}

@media(min-width:500px){

    footer{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        /* gap:50px; */
    }

    .logoContainer{
        margin:0;
    }
}
@media(min-width:500px){

    footer{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    .bold.contact{
        margin-bottom:30px;
    }

}
