:root {
  --primary: #ba9668;
}

html {
  /* font-size: 62.5%; */
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

/* @media (min-width: 1440px) {
    html {
      zoom: 1.5;
    }
  }
  
  @media (min-width: 2560px) {
    html {
      zoom: 1.7;
    }
  }
  
  @media (min-width: 3860px) {
    html {
      zoom: 2.5;
    }
  } */

/* ::-webkit-scrollbar {
    width: 1.3rem;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #797979;
    transition: all 0.5s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #222224;
  }
  
  ::-webkit-scrollbar-track {
    background: #f9f9f9;
  } */

.swiper-wrapper {
    align-items: center;
  }

.swiper-slide {
  width: fit-content !important;
  ;
}



.container {
  max-width: 124rem;

  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}




#slider .slider-slider {
  height: auto;
  position: relative;
}

@media (max-width:500px) {
  #slider .slider-slider {
    height: 45rem;
  }
}

.slider-slide {
  display: flex;
  /* Ajouter */
  justify-content: center;
  /* Ajouter */
  align-items: center;
  /* Ajouter */
  width: 37rem;
  height: 42rem;
  position: relative;
}




.slider-slide .slider-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.slider-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}

.slider-slide-content .slider-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}

.food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.rating ion-icon {
  color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-slider-control {
  position: relative;
  bottom: 200px;
  width:fit-content;
  margin:auto;

}





.slider-slider-control .slider-arrow::after {
  content: '';
}

.slider-slider-control .swiper-pagination {
  position: relative;
  width: 100%;
  bottom: 1rem;
}

.slider-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}


.slider-slide .slider-slide-img img {
  width: 250px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 2rem;
  object-fit: cover;
  margin:30px;
  padding:25px;

  

}

@media(min-width:500px) {
  .slider-slide .slider-slide-img img {
    width: 300px;
    margin-bottom:200px;
    
  }
}

@media(min-width:800px) {
  .slider-slide .slider-slide-img img {
    width: 400px;
    
  }
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  margin-bottom: 50px;
}

@media(min-width:500px) {
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    margin-bottom: 100px;
  }
}



.swiper-pagination-bullet{
  background-color: #ffffff !important;
  opacity: 0.7 !important;
}

.swiper-pagination-bullet-active{
  background-color: #eed21c !important;
}

.arrow{
  width: 70px !important;
  height: 70px !important;
  position:relative !important;
  margin-bottom:50px;
  padding:20px;
  border:solid 2px white;
  border-radius:50%;
}

.arrow.right{
transform: rotate(180deg) !important;
transform-origin: center !important;
left:0px;
right: 0px !important;
}

.arrow.left{
right: 0px !important;
left:0px;
}

.control{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:50px;
  margin-bottom:100px;

}



@media(min-width:600px){
  .arrow{
    width: 100px !important;
    height: 100px !important;
    padding:20px;

  }
}